<div class="col-inner global-left-menu">
    <div id="ads_options450" class="globallefttopbanner hide-widget-title show-view-more blog-section">
        <div class="eb-blog eb-widget-blogs row blogs_node_chi_anh row-collapse">
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <a title="global left top banner" href="/blog/chuong-trinh-ho-tro-xkld/tong-hop-the-qua-tang-tu-cac-trung-tam-khi-dang-ky-xkld-va-du-hoc-cac-nuoc.html">
                        &nbsp;
                    </a>
                    <div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h16_9 ty-le-global" style="background-image: url('/static/images/chuong-trinh-ho-tro-chung-400-large.png');">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ads_options451" class="globalleftbottombanner hide-widget-title show-view-more blog-section">
        <div class="eb-blog eb-widget-blogs row row-12 row-medium-12 row-small-6 blogs_node_chi_anh row-small">
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <a href="/rumani">
                        &nbsp;
                    </a>
                    <div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h25_30 ty-le-global" style="background-image: url('/static/images/xuat-khau-lao-dong-rumani-medium.png.webp');">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h25_30 ty-le-global" style="background-image: url('/static/images/quang-cao-du-hoc-duc-2-medium.png.webp');">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>