{% load static %}
<div class="eb-blog eb-widget-blogs row row-12 row-small-12 blogs_node_chi_anh row-small">
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a title="Suleco" aria-label="Suleco" href="/page/danh-cho-ung-vien">&nbsp;</a>
			<div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h628_1200 ty-le-global" style="background-image: url('/static/images/uu-vien-luu-y.png');">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="/blog/huong-dan/huong-dan-su-dung-esim-khi-ra-nuoc-ngoai.html">&nbsp;</a>
			<div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h628_1200 ty-le-global" style="background-image: url('/static/images/esim-large.png');">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="/blog/huong-dan/cac-buoc-dang-ky-lam-ho-chieu-tren-cong-dich-vu-cong-quoc-gia.html">
				&nbsp;
			</a>
			<div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h628_1200 ty-le-global" style="background-image: url('/static/images/1d-quang-cao-2-large.png');">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="/blog/chuong-trinh-ho-tro-xkld/tong-hop-the-qua-tang-tu-cac-trung-tam-khi-dang-ky-xkld-va-du-hoc-cac-nuoc.html">
				&nbsp;
			</a>
			<div class="eb-blog-avt each-to-bgimg lazyload-img-done ty-le-h628_1200 ty-le-global" style="background-image: url('/static/images/chuong-trinh-ho-tro-chung.png');">
				&nbsp;
			</div>
		</div>
	</div>
</div>