{% load static %}
<div class="eb-blog eb-widget-blogs row row-12 row-medium-6 row-small-6 blogs_node_chi_anh row-small">
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="https://zalo.me/0931602727">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/anh-quan-cao-havi.png);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="#">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/chuong-trinh-ho-tro-chung-4-500-400.png);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="https://havitourist.com/dat-ve-may-bay-1.htm">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/qc-phai-6.png);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="#">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/phai-8b.jpg);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="#">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/quang-cao-phai.png);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="#">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/phai-7b.jpg);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="#">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/nam-chau-ims.jpg);">&nbsp;</div>
		</div>
	</div>
	<div class="col">
		<div class="eb-blog-padding eb-news-padding global-a-posi">
			<a href="/page/dich-vu-phap-ly-cho-doanh-nghiep-xuat-khau-lao-dong">&nbsp;</a>
			<div class="img-hh eb-blog-avt each-to-bgimg ty-le-h213_254 ty-le-global lazyload-img-done" style="background-image: url(/static/images/quang-cao-luat_2.png);">&nbsp;</div>
		</div>
	</div>
</div>