{% load static page_tags %}
<footer id="wgr__footer">
    <div id="ads_options388" style="background-color: #fff" class="footercentertopslider hide-widget-title show-view-more blog-section">
        <div class="eb-widget-hide-title"></div>

        <div class="eb-blog eb-widget-blogs row row-3 row-small-12 blogs_node_chi_anh row-small">
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <a href="#">
                        &nbsp;
                    </a>
                    <div style="background-image: url('/static/images/rumani-nam-chau-3.jpg')" class="eb-blog-avt each-to-bgimg eb-lazzy-effect ty-le-h20_25 ty-le-global">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <a href="https://zalo.me/0931602727">
                        &nbsp;
                    </a>
                    <div style="background-image: url('/static/images/anh-quan-cao-havi.png')" class="eb-blog-avt each-to-bgimg eb-lazzy-effect ty-le-h20_25 ty-le-global">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <a href="/page/dich-vu-phap-ly-cho-doanh-nghiep">
                        &nbsp;
                    </a>
                    <div style="background-image: url('/static/images/quang-cao-luat_2.png')" class="eb-blog-avt each-to-bgimg eb-lazzy-effect ty-le-h20_25 ty-le-global">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="eb-blog-padding eb-news-padding global-a-posi">
                    <a href="/page/danh-cho-ung-vien">
                        &nbsp;
                    </a>
                    <div style="background-image: url('/static/images/luu-y-ung-vien-3.png')" class="eb-blog-avt each-to-bgimg eb-lazzy-effect ty-le-h20_25 ty-le-global">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% footer_search %}
    <section class="default-bg footer-section">
        <div class="row align-middle">
            <div class="col small-12 medium-4 large-4">
                <div class="col-inner">
                    <a href="/" class="web-logo active-menu-item" aria-label="Home" style="background-image: url('/static/images/logo-mua-he-large.png')">&nbsp;</a>
                </div>
            </div>
            <div class="col small-12 medium-8 large-8 hide-if-mobile footer-logo-line">
                <div class="col-inner">&nbsp;</div>
            </div>
        </div>
        <div class="footer-menu">
            <div class="row row-collapse">
                <div class="col small-12 medium-4 large-4">
                    <div class="col-inner footer-info">
                        <p>
                            <a style="background-image: url('/static/images/dadangky.png');" href="http://online.gov.vn/Home/WebDetails/101504" class="btc-logo btc-register-logo each-to-bgimg eb-lazzy-effect">
                                &nbsp;
                            </a>
                        </p>
                        <div class="eb-sub-menu footer-company-info">
                            <ul class="cf">
                                <li>
                                    <span style="color: #ffffff;">
                                        <strong>ĐĂNG KÝ WEBSITE TMĐT: 2023-0478/ĐK/TMĐT</strong>
                                    </span>
                                </li>
                                <li>
                                    <span style="color: #ffffff;">
                                        <strong>CÔNG TY TNHH ANVIBI GROUP.</strong>
                                    </span>
                                </li>
                                <li>
                                    <span style="color: #ffffff;">Giấy đăng ký kinh doanh số: 0110151964</span>
                                </li>
                                <li>
                                    <span style="color: #ffffff;">Do Sở Kế hoạch &amp; Đầu Tư Tp. Hà Nội cấp ngày 17/10/2022</span>
                                </li>
                                <li>
                                    <span style="color: #ffffff;">Địa chỉ: Liên Hà, Đông Anh, Hà Nội.</span>
                                </li>
                                <li>
                                    <span style="color: #ffffff;">Liên hệ quảng cáo: info@anvibi.com</span>
                                </li>
                                <li>
                                    <span style="color: #ffffff;">Hỗ trợ khách hàng: Info@anvibi.com</span>
                                </li>
                            </ul>
                        </div>
                        <p>Kết nối với chúng tôi</p>
                        <ul class="wgr-share-icons cf">
                            <li>
                               <a href="https://www.facebook.com/sanxuatkhaulaodong/" aria-label="facebook" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i> <span>https://www.facebook.com/sanxuatkhaulaodong/</span></a>
                            </li>
                            <li>
                                <a href="https://www.google.com/maps/place/S%C3%A0n+xu%E1%BA%A5t+kh%E1%BA%A9u+lao+%C4%91%E1%BB%99ng+.com/@20.9415741,105.849607,15z/data=!4m2!3m1!1s0x0:0x4949ceb68fef35e2?sa=X&ved=2ahUKEwiAk5zS2f-CAxU5o1YBHVLbAvIQ_BJ6BAgOEAA" aria-label="google" target="_blank" rel="nofollow" >
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://vn.linkedin.com/in/sanxuatkhaulaodong" aria-label="linkin" target="_blank" rel="nofollow">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="skype" class="noreferrer-noopener active-menu-item" target="_blank" rel="nofollow">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://zalo.me/0976808600" aria-label="zalo_me" target="_blank" rel="nofollow">
                                    <i class="wgr-fa wgr-icons-zalo"></i>
                                </a>
                            </li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <div class="col small-12 medium-7 large-7">
                    <div class="col-inner row row-collapse">
                        <div class="col small-12 medium-4 large-4">
                            <div class="col-inner">
                                <h4 class="footer-title upper bold">
                                    HƯỚNG DẪN
                                </h4>
                                <div class="eb-sub-menu footer1-menu"></div>
                                <div class="eb-sub-menu top-login-menu">
                                    <ul class="cf">
                                      <li><a href="#" data-bs-toggle="modal" data-bs-target="#popupModal">Đăng nhập</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col small-12 medium-4 large-4">
                            <div class="col-inner">
                                <h4 class="footer-title upper bold">
                                    QUY ĐỊNH CHÍNH SÁCH
                                </h4>
                                <div class="eb-sub-menu footer2-menu">
                                    <ul class="cf">
                                        <li><a class="eb-menu-text" href="/page/gioi-thieu">Giới thiệu</a></li>
                                        <li><a class="eb-menu-text" href="/page/dieu-khoan-su-dung">Điều khoản sử dụng dịch vụ</a></li>
                                        <li><a class="eb-menu-text" href="/page/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                                        <li><a class="eb-menu-text" href="/page/quy-trinh-giai-quyet-tranh-chap-khieu-nai">Quy trình giải quyết tranh chấp.</a></li>
                                        <li><a class="eb-menu-text" href="https://drive.google.com/file/d/1llViyrNZwU53gEw6vabuw5Gqyo_W1F_7/view?usp=sharing" target="_blank" rel="nofollow">Quy chế hoạt động</a></li>
                                        <li><a class="eb-menu-text" href="/page/gioi-thieu-danh-cho-nha-tuyen-dung">Dành cho nhà tuyển dụng</a></li>
                                        <li><a class="eb-menu-text" href="/page/danh-cho-ung-vien">Dành cho ứng viên</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col small-12 medium-4 large-4">
                            <div class="col-inner">
                                <h4 class="footer-title upper bold">
                                    TIN TỨC
                                </h4>
                                <div data-id="5392" data-type="nav_menu" class="eb-sub-menu footer3-menu">
                                    <ul class="cf">
                                        <li><a href="/blog/tin-tuc">Tin tức</a></li>
                                        <li><a href="/blog/thong-tin-can-biet">Thông tin cần biết</a></li>
                                        <li><a href="/blog/cap-nhat-thong-tin-xuat-khau-lao-dong">Thông tin xklđ mới nhất</a></li>
                                        <li><a href="/blog/chuong-trinh-ho-tro-xkld">Chương trình hỗ trợ xklđ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col small-12 medium-1 large-1">
                    <div class="col-inner">
                        <h4 class="footer-title upper bold">
                            NGÔN NGỮ
                        </h4>
                        <div class="eb-sub-menu footer4-menu">
                            <ul class="cf">
                                <li><a href="/" rel="noreferrer noopener" class="noreferrer-noopener active-menu-item">Tiếng Việt</a></li>
                                <li><a href="/" rel="noreferrer noopener" class="noreferrer-noopener active-menu-item">English</a></li>
                                <li><a href="/" rel="noreferrer noopener" class="noreferrer-noopener active-menu-item">Japanese</a></li>
                                <li><a href="/" rel="noreferrer noopener" class="noreferrer-noopener active-menu-item">Korean</a></li>
                                <li><a href="/" rel="noreferrer noopener" class="noreferrer-noopener active-menu-item">Chinese</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>


